<div class="modal-header">
    <h4 class="modal-title" jhitranslate="login.title" ng-reflect-jhi-translate="login.title">
        <span>Display File Content</span>
    </h4>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalDismiss()">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8"> <!--bindings={}--></div>
        <div class="col-md-8">
            <form class="form ng-pristine ng-valid ng-touched" novalidate="" role="form">
                <div class="form-group">
                    <iframe src="https://www.w3schools.com">
                        <p>Your browser does not support iframes.</p>
                    </iframe>
                </div>
                <button class="btn btn-primary" jhitranslate="login.form.button" (click)="addFolder()" style="float: right"
                        ng-reflect-jhi-translate="login.form.button"><span>Create Folder</span>
                </button>
            </form>
        </div>
    </div>
</div>
