<div class="modal-header">
    <h4 class="modal-title" jhitranslate="login.title" ng-reflect-jhi-translate="login.title">
        <span>Display File Content</span>
    </h4>
    <button aria-label="Close" class="close" data-dismiss="modal" type="button" (click)="modalDismiss()">
        <span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8"> <!--bindings={}--></div>
        <div class="col-md-8">
            <form class="form ng-pristine ng-valid ng-touched" novalidate="" role="form">
                <iframe src='https://view.officeapps.live.com/op/embed.aspx?src=http://remote.url.tld/path/to/document.doc'
                        width='1366px' height='623px' frameborder='0'>This is an embedded
                    <a target='_blank' href='http://office.com'>Microsoft Office</a> document, powered by
                    <a target='_blank' href='http://office.com/webapps'>Office Online</a>.
                </iframe>
                <button class="btn btn-primary" jhitranslate="login.form.button" (click)="addFolder()" style="float: right"
                        ng-reflect-jhi-translate="login.form.button"><span>Create Folder</span>
                </button>
            </form>
        </div>
    </div>
</div>
