<div style="display: block">
    <div style="float: left; width: 15%">
        <div class="btn-wrapper">
            <label for="openSettingButton" (click)="openSettings()" class="cloud-btn">Settings</label>
            <input type="button" id="openSettingButton" class="form-control">
        </div>
    </div>
    <div class="filesCard">
        <div id="breadcrumb" class="cloud-breadcrumb">
            <ul>
                <li *ngFor="let crumb of crumbData; let j = index" id="{{crumb.id}}">
                    <a href="javascript:void(0)" (click)="openFolder('folder+' + crumb.id, crumb.name)">{{crumb.name}}</a>
                </li>

            </ul>
        </div>
        <div class="table-wrapper">
            <div class="table-scroll">
                <table>
                    <thead>
                    <tr>
                        <th class="cloud-td-th" width="5%">
                            <span style="top: -9px;position: absolute;width: 100%;height: 29px;
                                    left: 0;background-color: white;"></span>
                            <label style="top: -17px;z-index: 2;position: absolute;
                            width: 10%;background-color: white;"
                                   id="selectAll" class="cloud-checkbox">
                                <input type="checkbox">
                                <span class="cloud-checkmark"></span>
                            </label>
                        </th>
                        <th class="cloud-th-th" width="35%">
                            <span class="text" style="margin-left: 2%;"> Folder Name </span>
                        </th>
                        <th class="cloud-td-th" width="30%">
                            <span class="text"> Creation Date </span>
                        </th>
                        <th class="cloud-th-th" width="30%"><span class="text" style="width: 20%;"> </span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let elem of tableData; let i = index" id="{{elem.id}}">
                        <td class="cloud-td-th" >
                            <label class="cloud-checkbox">
                                <input type="checkbox">
                                <span class="cloud-checkmark"></span>
                            </label>
                        </td>
                        <td class="cloud-td-th"  (click)="openFolder(elem)">
                            <p>
                                <a href="javascript:void(0)">
                                    <span [hidden]="elem.fileType != 'folder'" class="glyphicon glyphicon-folder-open"></span>
                                    <a [hidden]="elem.fileType == 'folder'" class="link-icon"></a>
                                    <span>{{elem.fileName}}</span>
                                </a>
                            </p>
                        </td>
                        <td class="cloud-td-th" >
                            {{elem.creationDate}}
                        </td>
                        <td class="cloud-td-th" >
                            <div class="float-left cloud-action-buttons">
                                <div class="btn-file-wrapper">
                                    <label for="move" class="cloud-file-btn"  (click)="move(elem.id)" id="moveLabel">Move</label>
                                    <input type="button" id="move" class="form-control">
                                </div>
                                <div class="btn-file-wrapper">
                                    <label for="share" class="cloud-file-btn" id="shareLabel">Share</label>
                                    <input type="button" id="share" class="form-control" (click)="share(elem.id)">
                                </div>
                                <div class="btn-file-wrapper delete">
                                    <label for="delete" class="cloud-file-btn" id="deleteLabel">Delete</label>
                                    <input type="button" id="delete" class="form-control" (click)="delete(elem.id)">
                                </div>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div style="float: right; width: 15%">
        <div class="btn-wrapper">
            <label class="cloud-btn" for="file">Upload a file</label>
            <input type="file" id="file" (change)="handleFileInput($event.target.files)" value="Upload">
        </div>
        <div class="btn-wrapper">
            <label for="openNewFolder" class="cloud-btn">Add Folder</label>
            <input type="button" id="openNewFolder" (click)="openFolderModal()">
        </div>
        <div [hidden]="!canMoveMessage" class="green-message">
            <p><h3>Please, Select</h3><p>
            <p><h3>the Folder</h3><p>
            <p><h3>where to Move</h3></p>
            <p><h3>the Selected File</h3></p>
            <div class="btn-wrapper">
                <label for="cancelMoveTo" class="cloud-btn">Cancel Move</label>
                <input type="button" id="cancelMoveTo" (click)="cancelMove()">
            </div>
        </div>
        <div [hidden]="!whereToMoveMessage" class="green-message">
            <p><h3>Move Here</h3></p>
            <div class="btn-wrapper">
                <label for="moveHere" class="cloud-btn">Move Here</label>
                <input type="button" id="moveHere" (click)="moveHere()">
            </div>
            <div class="btn-wrapper">
                <label for="cancelMoveHere" class="cloud-btn">Cancel Move</label>
                <input type="button" id="cancelMoveHere" (click)="cancelMove()">
            </div>
        </div>
    </div>
</div>
