<nav class="navbar navbar-dark navbar-expand-md jh-navbar" style="height: 40px;" [hidden]="!isAuthenticated()">
    <div class="navbar-collapse collapse" id="navbarCenter"
         style="color: lightblue; padding-right: 40%;padding-left: 40%; height: 50px">
        <span style="width: 100%; margin-left: 25%">CloudStore</span>
    </div>
    <div class="navbar-collapse collapse" id="navbarLogout">
        <div class="btn-logout-wrapper">
            <label for="logoutButton" class="cloud-logout-btn">Logout</label>
            <input type="button" id="logoutButton" (click)="logout()">
        </div>
    </div>
</nav>
