/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

body {
    background: #e4e5e6;
}

a {
    color: #533f03;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid green;
}

.ng-invalid:not(form) {
    border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
    padding: 0%;
    margin-top: 0px;
    border: none;
}

.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: lightblue;
}


.modal-content {
    top: 150px;
}

.btn-wrapper {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
    margin: 1% 10% 4% 10%;
}

.btn-wrapper input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    opacity: 0;
}

.cloud-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: bold;
    width: 150px;
    text-align: center;
    cursor: pointer;
}

.cloud-btn:hover {
    background: lightblue;
    cursor: pointer;
}

.btn-logout-wrapper {
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.btn-logout-wrapper input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    opacity: 0;
}

.cloud-logout-btn {
    color: gray;
    background-color: white;
    padding: 23px 13px 15px 20px;
    font-size: 15px;
    font-weight: bold;
    width: 165px;
    text-align: center;
    cursor: pointer;
}

.cloud-logout-btn:hover {
    background: lightblue;
    cursor: pointer;
}

.btn-file-wrapper {
    overflow: hidden;
    display: none;
    cursor: pointer;
}

.btn-file-wrapper input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    height: 100%;
    opacity: 0;
}

.cloud-file-btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 70px;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
}

.filesCard {
    border-right: 1px solid rgba(0, 0, 0, 0.125);
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    float: left;
    width: 70%;
    bottom: 60px;
    top: 50px;
    left: 15%;
    right: 15%;
    position: absolute;
}

.cloud-breadcrumb {
    height: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.cloud-breadcrumb ul {
    list-style: none;
    display: inline;
}

.cloud-breadcrumb ul li {
    display: inline;
}
.cloud-breadcrumb li + li:before {
    padding: 8px;
    color: black;
    content: '/\00a0';
}
.cloud-breadcrumb a {
    font-size: 20px;
}

.avatarWrapper {
    position: relative;
    margin: 0 auto;
    width: 300px;
}
.avatar {
    background-color: #edebe1;
    border-radius: 100%;
    height: 116px;
    width: 116px;
    padding: 8px 50px 8px 0;
    cursor: pointer;
}

.avatar:hover #uploadGlyph {
    display: inline-block;
    position: absolute;margin: 20%;font-size: 60px;
}

.avatar-image {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    margin-left: 8px;
}

.green-message {
    color: white !important;
    border: 1px solid;
    text-align: center;
    background-color: green;
    border-radius: 20%;
}
.green-message .cloud-btn:hover {
    background-color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 20px;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: gray;
}

.cloud-td-th {
    padding-left: 1%;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* ==========================================================================
Style the buttons inside the ta
========================================================================== */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.myCustomModalClass {
    min-width: 800px;
}
/* ==========================================================================
    Cloud Checkbox element
========================================================================== */

/* The Cloud Checkbox */
.cloud-checkbox {
    display: block;
    position: relative;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.cloud-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.cloud-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid white;
}

/* On mouse-over, add a grey background color */
.cloud-checkbox:hover input ~ .cloud-checkmark {
    border: 1px solid #2196f3;
    border-radius: 3px;
}

/* When the checkbox is checked, add a blue background */
.cloud-checkbox input:checked ~ .cloud-checkmark {
    background-color: #2196f3;
    border: 1px solid #2196f3;
    border-radius: 3px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.cloud-checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.cloud-checkbox input:checked ~ .cloud-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.cloud-checkbox .cloud-checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ==========================================================================
Cloud Table Overflow
========================================================================== */

.table-wrapper {
    position: relative;
}
.table-scroll {
    height: 465px;
    overflow: auto;
    margin-top: 25px;
}
.table-wrapper table {
    width: 100%;
}
.table-wrapper table * {
    height: 20px;
}

.table-wrapper table td {
    height: 70px;
}

.table-wrapper table .cloud-action-buttons {
    height: 40px;
}

.table-wrapper table .btn-file-wrapper {
    height: 40px;
}

.table-wrapper table .cloud-file-btn {
    height: 30px;
}

.table-wrapper table thead th .text {
    position: absolute;
    top: -11px;
    z-index: 2;
    height: 31px;
}

.table-wrapper table th {
    background-color: white;
}

.cloud-action-buttons {
    /*display: none;*/
}

.table-wrapper tr:hover {
    background-color: lightblue;
}

.table-wrapper tr:hover .btn-file-wrapper{
    display: inline-block;
}

#deleteLabel:hover {
    background-color: red;
    cursor: pointer;
}

#shareLabel:hover {
    background-color: blue;
    cursor: pointer;
}

#moveLabel:hover {
    background-color: green;
    cursor: pointer;
}

.modal-backdrop {
    opacity:0.5 !important;
}

/* ==========================================================================
SCROLL BAR CSS
========================================================================== */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: lightblue;
}
/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}
.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

.active-tab {
    background-color: white;
    border: 1px gainsboro;
}

.inactive-tab {
    background-color: whitesmoke;
}

.inactive-tab:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}
.no-padding-right {
    padding-right: 0 !important;
}
.no-padding-top {
    padding-top: 0 !important;
}
.no-padding-bottom {
    padding-bottom: 0 !important;
}
.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.card-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-secondary,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-secondary {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
